.panel{
    position:absolute;
  top:0;
  left:0;
  background-color:white;
  padding:10px;
}

.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}

.footer-inner{
  width: 100%;
  height: auto;
  background: #fff;
  padding: 24px;

}

.map iframe{
  width: 100%;

}

.contact-text h1{
  font-size: 36px;
  font-weight: 600;
  color: #00428c;
  margin: 0;
  padding-bottom: 20px;
}

.contact-text h2{
  font-size: 20px;
  font-weight: 500;
  color: #444;
  margin: 0;
  padding-top: 25px;
}

  .contact-text h2 i{
    color: #00428c;
  }

.contact-text p{
  font-size: 14px;
  color: #000;
  margin: 0;
  padding-top: 5px;
  padding-left: 5px;
  font-weight: 100;
}

@media only screen and (min-width:360px) and (max-width:479px)
{

    .map iframe{
      height: 150px;
    }

    .contact-text{

      padding: 15px;

    }


    .contact-text h1{
      font-size: 24px;
      padding-bottom: 10px;
    }


    .contact-text h2{
      font-size: 18px;
      padding-top: 10px;
    }

    .contact-text p{
      font-size: 12px;
    }


}