
<!--header-->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><img src="assets/images/logoabp.gif"  height="60" width="100" /></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a routerLink="/">Home</a></li>
        <li ><a routerLink="/aboutUs">About Us</a>
        </li>
        <li><a routerLink="/produits">Produits</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a routerLink="/actualites">Actualités</a></li>


        <li><a routerLink="/réclamation">SAV</a></li>
        
      
      </ul>
    </nav>
  </header>


<router-outlet></router-outlet>



<footer>
  <br>

  <div class="container">
    <div class="footer-inner">
      <div class="row">
        <div class="col-md-8">
     <div class="map"> <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12764.894466362079!2d10.1695083!3d36.8849984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x51f97a99be09577a!2sABP%20informatique!5e0!3m2!1sfr!2stn!4v1659767757597!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
    </div>
  

    <div class="col-md-4">
      <div class="contact-text">
        <h1>Contactez nous</h1>
        <h2><i class="fa fa-map-marker"aria hidden="true" ></i>&nbsp;Adresse</h2>
        <p>14 rue barcelone riadh andalos <br>2058 ariana</p>
        <h2><i class="fa fa-phone-square"aria hidden="true"></i>&nbsp;Phone</h2>
        <p>+216 98 787 900<br>+216 70 822 816</p>
        <h2><i class="fa fa-phone-square"aria hidden="true"></i>&nbsp;Email</h2>
        <p  style="text-transform: lowercase;">contact@abp.tn<br>sav@abp.tn</p>
        
<br><br>
        <button routerLink="/réclamation" style="background: #00428c; border-radius: 12px;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);width: 100%;"><h5  style="color: #fff">Contactez nous</h5></button>

      </div>
    </div>
    </div>
  </div>
</div>




  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p><i class="fa fa-copyright"></i> Copyright 2020 by ABP
        
          <a href="#" rel="sponsored" target="_parent">Tunisie</a></p>

          <br><br><br><br>
         <div class="social-menu">
          <ul>
            <li><a href="https://fr-fr.facebook.com/Abp.tunisie/"><i class="fa fa-facebook"></i></a></li>
            
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa fa-envelope"></i></a></li>
            <li><a href="https://www.linkedin.com/company/abp-tunisie/mycompany/?viewAsMember=true"><i class="fa fa-linkedin"></i></a></li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>